@import "style/soundboard";
@import "style/variables";
@import "style/mixins";

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.soundkit-wrapper {
  width: 100vw;
  height: 85vh;

  display: flex;
  justify-content: center;
  background: $black;
}

.footer {
  height: 15vh;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $boxBg;
  color: $white;

  .record-button, .play-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid $boxFont;
    transition: 0.3s all;
  }
}